---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Curry Muncher Translations | Series">
	<div class="pb-12 pt-8 sm:pt-12 min-h-screen flex flex-col">
		<div class="mx-auto flex w-full flex-col gap-8 sm:gap-10 px-4 sm:px-6 lg:px-24 2xl:px-48">
            <header class="text-center">
                <p class="font-serif text-[clamp(3rem,13vw,8.75rem)] italic leading-none tracking-[-0.03em] text-[#af80ff]">
                    CONTACT US
                </p>
                <p class="-mt-1 font-sans text-[clamp(1rem,2.7vw,1.75rem)] font-light text-[#978bad]">
                    anytime, probably
                </p>
            </header>

            <p class="text-center px-4 w-full max-w-none sm:max-w-2xl mx-auto text-[#b9a2e0] text-2xl">Too lazy to add a contact form here at the moment so just join our Discord in the top right!</p>
		</div>
	</div>
</BaseLayout>