---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Curry Muncher Translations | Series">
	<div class="mx-4 pb-12 pt-8 sm:mx-6 sm:pt-12 lg:mx-24 2xl:mx-48">
		<div class="mx-auto flex w-full flex-col gap-8 sm:gap-10">
            <header class="text-center">
                <p class="font-serif text-[clamp(5rem,13vw,8.75rem)] italic leading-none tracking-[-0.03em] text-[#af80ff] sm:text-[clamp(5.5rem,11vw,8.75rem)]">
                    CONTACT US
                </p>
                <p class="-mt-1 font-sans text-[clamp(1.5rem,2.7vw,1.75rem)] font-light text-[#978bad]">
                    anytime, probably
                </p>
            </header>

            <p class="text-center max-w-1/3 mx-auto text-[#b9a2e0] text-2xl ">Too lazy to add a contact form here at the moment so just join our Discord in the top right!</p>
		</div>
	</div>
</BaseLayout>