---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Curry Muncher Translations | Staf">
    <div class="flex h-screen items-center justify-center">
        <h1 class="font-serif text-[48px] leading-none text-[#debaa2] sm:text-[72px] lg:text-[96px]">to be created</h1>
    </div>
</BaseLayout>