---
import { Image } from "astro:assets";
import type { Affiliate } from "../data/home";

const { affiliates } = Astro.props as { affiliates: Affiliate[] };
---

<section class="section">
	<h2>Affiliates</h2>
	<div class="affiliate-list">
		{affiliates.map((affiliate) => (
			<button class="affiliate-card" type="button">
				<Image src={affiliate.image} alt={affiliate.name} />
				<span>{affiliate.name}</span>
				<span class="affiliate-arrow"></span>
			</button>
		))}
	</div>
</section>
