---
---

<style is:global>
    .giscus {
        display: flex;
        justify-content: center;
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .giscus, .giscus-frame {
        width: 100%;
        min-height: 150px;
    }

    .giscus-frame gsc-comment-box {
        border-radius: 10% !important;
    }

    .giscus-frame {
        width: 75%;
        border: none;
        color-scheme: light dark;
    }

    .giscus-frame--loading {
        opacity: 0;
    }
</style>

<div transition:persist="giscus" class="giscus_comments">
</div>

<script>
    document.addEventListener('astro:after-swap', () => {
        function sendMessage<T>(message: T) {
            const iframe = document.querySelector<HTMLIFrameElement>('iframe.giscus-frame');
            if (!iframe?.contentWindow) return;
            iframe.contentWindow.postMessage({ giscus: message }, 'https://giscus.app');
        }
        
        setTimeout(() => {
            sendMessage({
                setConfig: {
                    term: window.location.pathname.substr(1)
                }
            })
        }, 1000)
    });

    document.addEventListener('astro:page-load', () => {
        let giscusAttributes = {
            "src": "https://giscus.app/client.js",
            "data-repo": "rsa16/curry-muncher-site",
            "data-repo-id": "R_kgDOMcBIrw",
            "data-category": "Announcements",
            "data-category-id": "DIC_kwDOMcBIr84Ch7SM",
            "data-mapping": "pathname",
            "data-strict": "1",
            "data-reactions-enabled": "1",
            "data-emit-metadata": "0",
            "data-input-position": "top",
            "data-theme": "dark",
            "data-lang": "en",
            "crossorigin": "anonymous",
        }

        let giscusScript = document.createElement("script");
        Object.entries(giscusAttributes).forEach(([key, value]) => giscusScript.setAttribute(key, value));
        document.querySelector(".giscus_comments")?.appendChild(giscusScript);
    })
</script>