<section class="section split">
	<div class="panel">
		<h2>FAQ</h2>
		<div class="faq-item">
			<span>What is your mom's middle name?</span>
			<span class="faq-plus">+</span>
		</div>
		<div class="faq-item">
			<span>What is your mom's middle name?</span>
			<span class="faq-plus">+</span>
		</div>
		<div class="faq-item">
			<span>What is your mom's middle name?</span>
			<span class="faq-plus">+</span>
		</div>
		<div class="faq-item">
			<span>What is your mom's middle name?</span>
			<span class="faq-plus">+</span>
		</div>
	</div>
	<div class="panel">
		<h2>Localization Philosophy</h2>
		<p>
			We at Curry Muncher Translations are a firm believer of <strong>adaptive localization</strong>---translation
			that prioritizes meaning, tone, and emotional impact over strict literal accuracy.
		</p>
		<p>
			Our goal is to recreate the same experience for English readers that the original audience had. This means
			preserving: <strong>1)</strong> Character relationships <strong>2)</strong> Authorial style and intent and
			<strong>3)</strong> Cultural nuance.
		</p>
		<p>
			We aim for translations that feel natural to read while staying faithful to the author's <em>intent</em>.
		</p>
	</div>
</section>
