---
import { Icon } from "astro-icon/components";
---

<header class="top-nav sticky z-100 top-0 left-0 bg-[#14171D] flex items-center w-full py-3 px-8">
	<div class="nav-left flex flex-grow items-center">
		<div class="logo flex">
			<span class="logo-emoji"></span>
			<span class="logo-text">Curry Muncher TLs</span>
		</div>
	</div>
	<button class="discord-button" type="button">
		<span class="discord-dot"></span>
		Discord
	</button>
</header>
