---
import { Font } from "astro:assets";
import Sidebar from "@components/Sidebar.astro";
import TopNav from "@components/TopNav.astro";
import "@styles/global.css";

const { title = "Curry Muncher Translations" } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<Font cssVariable="--font-instrument" />
		<Font cssVariable="--font-poppins" />
		<Font cssVariable="--font-merriweather" />

		<title>{title}</title>
	</head>
	<body class="box-border min-h-screen sm:h-screen bg-sidebar">
		<div class="page flex min-h-0 w-full text-white">
			<Sidebar />
			<div class="flex min-h-0 flex-grow flex-col page-main px-1 sm:px-0 sm:pr-4">
				<TopNav />
				<main class="content sm:rounded-tl-2xl sm:rounded-tr-2xl overflow-y-auto bg-bg sm:overflow-x-hidden flex-1 h-full inset-shadow-[inset_-2px_2px_56px_1px_rgba(0,_0,_0,_0.5)]">
					<slot />
				</main>
			</div>
		</div>
	</body>
</html>
